/gpt-dev.ipynb
/input.txt
/Project-Proposal.pdf
/train.py
/__pycache__
node_modules
/Artificial_Intelligence_-_Project_Proposal_-_Final.pdf
/Fundamentals of Logic Design by Charles Roth, Jr. and Larry L. Kinney (z-lib.org).pdf
/Q_A_pinecone_GPT3.5.ipynb
/topic-modeling-twitter.pdf
